:root{
	--mainColor:#dcb1ee;
	--secondaryColor:#e6cef1;

	--borderColor:#1d1520;

	--mainText:black;
	--secondaryText:black;

	--themeDotBorder:#FFF;

	--previewBg:rgba(218, 150, 245, 0.8);
	--previewShadow:#2b202f;


	--buttonColor:#8534a3;


}
